* {
  margin: 0 auto;
  font-family: 'Patua One', sans-serif;
}

html {
}

body {
  background-color: #F9F1F0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  background-color: #F79489!important;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-transform: uppercase!important;
}

button:hover {
  transform: scale(1.2);
}

#quotes-div{
  margin: auto 20px;
}

/**
#F9F1F0
#FADCD9
#F8AFA6
#F79489
**/
